@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --pprimary-color: #008080;
  --text-dark: black;
  --white: #ffefd5;
  --max-width: 1200px;
  text-align: center;
}

.buttons {
  cursor: pointer;
}
